.DS_Store
.idea
*.swp
*.pyc
__pycache__
*.ipynb*
*.tar*
*.zip
*.pkl
*.pyc
*bak

experiments
datasets/celeba/img_align_celeba
metas
results
srun_scripts
*.egg-info/
dist/
build/
tmp*

.isort.cfg
.pre-commit-config.yaml
